html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    padding-top: 38px;
    padding-bottom: 32px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.logotype {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    color: #555252;
    text-transform: uppercase;
    float: left;
}

.logotype::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.navigation_list {
    float: right;
    padding-top: 12px;
}

.navigation_list-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
}

.navigation_list-item:not(:last-child) {
    margin-right: 35px;
}


.navigation_list-link {
    color: #0f0101;
}

a:hover,
.navigation_list-link :focus {
    color: #1abc9c;
}

.slider {
    position: relative;
}

.slider-img {
    max-width: 100%;
    height: auto;
}

.slider-img::before {
    content: " ";
    display: block;
    width: 1600px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.slider-titile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider-title-paris-tours {
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.tours-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.slider-button {
    position: absolute;
    top: 226px;
    left: 0;
    z-index: 1;
    width: 100%;
}

.prev {
    width: 104px;
    height: 104px;
    background-image: url("../buttoms/left.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: left;
    cursor: pointer;
}

.inactive-button {
    background-color: rgba(78, 198, 171, 0.6);
}

.next {
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    background-image: url("../buttoms/right.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    float: right;
}

.new-collection {
    background-color: #e9f0fd;
    padding-top: 95px;
    padding-bottom: 100px;
}

.new-collection-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    text-align: center;
}

.new-collection-title::after {
    content: " ";
    display: block;
    height: 7px;
    width: 164px;
    background-color: #1abc9c;
    margin: 28px auto 80px;
}

.products-item {
    width: 255px;
    float: left;
}

.products-item:not(:last-child) {
    margin-right: 30px;
}

.products-item-img {
    position: relative;
}

.products-item-img:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.product-name {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto"sans-serif;
    font-weight: 900;
}

.product-name :hover,
.product-name :focus {
    background-color: #1abc9c;
}

.title-name {
    float: left;
    width: 201px;
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    background-color: #323232;
    padding-left: 14px;
}

.price {
    float: right;
    width: 54px;
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    background-color: #8c8c8c;
    text-align: center;
}

.overlay {
    width: 255px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    border: 10px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
}

.buttom-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttom-list-item {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    float: left;
    margin-bottom: 7px;
    margin-right: 8px;
}

.buttom-list-item:nth-child(3n) {
    margin-right: 0;
}

.buttom-list-item-long {
    display: block;
    width: 166px;
    height: 50px;
    border: 1px solid #ffffff;
    float: left;
    background-color: #323232;
}

.buttom-list-link {
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.buttom-list-link:hover {
    background-color: #1abc9c;
}

.buttom-list-item-long:hover {
    background-color: #1abc9c;
}

.buttom-list-link_like {
    background-image: url("../buttoms/heart.png");
}

.buttom-list-link_arrows {
    background-image: url("../buttoms/arrows.png");
}

.buttom-list-link_clock {
    background-image: url("../buttoms/clock.png");
}

.buttom-list-link_trolley {
    background-image: url("../buttoms/trolley.png");
    background-position: left 12px top 10px;
}

.add-to-card {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Open Sans"sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 60px;
}

.footer {
    background-color: #323232;
    height: 88px;
}

.footer-sign {
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    font-family: "Open Sans"sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 30px;
}

.footer_link {
    color: #fefefe;
}

.footer_link:hover,
.footer_link :focus {
    color: #1abc9c;
}